@model Presentation.ViewModels.Employee.DetailsEmployeeViewModel

<div class="container">
    <div class="row">
        <h5>
            Detalhes do Funcionário: @Model.Name
        </h5>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="row">
                <label asp-for="Name" class="col m2 control-label"></label>
                <div class="col m6">
                    <input asp-for="Name" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label asp-for="Cpf" class="col m2 control-label"></label>
                <div class="col m6">
                    <input asp-for="Cpf" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label asp-for="Identifier" class="col m2 control-label"></label>
                <div class="col m6">
                    <input asp-for="Identifier" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label asp-for="Email" class="col m2 control-label"></label>
                <div class="col m6">
                    <input asp-for="Email" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label asp-for="AdmissionDate" class="col m2 control-label"></label>
                <div class="col m6">
                    <input value="@Model.AdmissionDate.ToString("dd/MM/yyyy")" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label asp-for="CreatedOn" class="col m2 control-label"></label>
                <div class="col m6">
                    <input value="@Model.CreatedOn.ToString("dd/MM/yyyy hh:mm:ss")" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label asp-for="ModifiedOn" class="col m2 control-label"></label>
                <div class="col m6">
                    <input value="@Model.ModifiedOn.ToString("dd/MM/yyyy hh:mm:ss")" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label asp-for="Active" class="col m2 control-label"></label>
                <div class="col m6">
                    <input value="@(Model.Active ? "Ativo" : "Inativo")" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label asp-for="Branch" class="col m2 control-label"></label>
                <div class="col m6">
                    <input asp-for="Branch" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h5>
            Ações:
        </h5>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="row">
                <label class="col m2 control-label"> Alterar Status? </label>
                <div class="col m6">
                    @{
                        if (Model.Active)
                        {
                            <i class="fa fa-ban" aria-hidden="true">
                                <a asp-controller="Employees" onclick="return confirm('Confirma desabilitar o registro?');" asp-action="Disable" asp-route-id="@Model.Id">Desabilitar</a>
                            </i>
                        }
                        else
                        {
                            <i class="fa fa-history" aria-hidden="true">
                                <a asp-controller="Employees" asp-action="Enable" asp-route-id="@Model.Id">Habilitar</a>
                            </i>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>