@model Presentation.ViewModels.Employee.DetailsEmployeeViewModel

<div class="x_panel">
  <div class="x_title">
    <h2>
      Detalhes do o usuário: @Model.Name 
    </h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content"> 
    <div class="form-group">
      <div class="row">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <input asp-for="Name" class="form-control" disabled="disabled"/>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="row">
        <label asp-for="Cpf" class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <input asp-for="Cpf" class="form-control" disabled="disabled"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label asp-for="Identifier" class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <input asp-for="Identifier" class="form-control" disabled="disabled"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <input asp-for="Email" class="form-control" disabled="disabled"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label asp-for="AdmissionDate" class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <input value="@Model.AdmissionDate.ToString("dd/MM/yyyy hh:mm:ss")" class="form-control" disabled="disabled" />
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label asp-for="CreatedOn" class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <input value="@Model.CreatedOn.ToString("dd/MM/yyyy hh:mm:ss")" class="form-control" disabled="disabled" />
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label asp-for="ModifiedOn" class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <input value="@Model.ModifiedOn.ToString("dd/MM/yyyy hh:mm:ss")" class="form-control" disabled="disabled" />
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label asp-for="Active" class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <input value="@(Model.Active ? "Ativo" : "Inativo")" class="form-control" disabled="disabled" /> 
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label asp-for="Branch" class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <input asp-for="Branch" class="form-control" disabled="disabled" />
        </div>
      </div>
    </div>
  </div>
</div>
