@model System.Collections.Generic.IEnumerable<Domain.Entities.Employee>
@{
    ViewBag.Title = "Funcionárois";
}

<h1> Funcionários Cadastrados no Sistema </h1>

<div class="x_content"> 
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Cpf</th>
        <th>Matrícula</th>
        <th>E-mail</th>
        <th>Data de Nascimento</th>
        <th>Modificado Em</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
        @{
            foreach(var employee in @Model)
            {
                <tr>
                  <td>@employee.Name</td>
                  <td>@employee.Cpf</td>
                  <td>@employee.Identifier</td>
                  <td>@employee.Email</td>
                  <td>@employee.CreatedOn</td>
                  <td>@employee.ModifiedOn</td>
                  <td>
                    <i class="fa fa-pencil" aria-hidden="true">
                      <a asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id">Editar</a>
                    </i> 
                  </td>
                </tr>
            }
        }      
    </tbody>
  </table>  
</div>