@using Domain.Entities 
@model IEnumerable<User>
@{ ViewBag.Title = "Usuarios do Sistema"; }

<div class="container">
	<div class="row">
		<h2>
			Usuários
		</h2>
		<div class="text-right">
			<i class="fa fa-plus" aria-hidden="true">
			<a asp-controller="Users" asp-action="Create">
				Adicionar Novo Usuário
			</a>
		</i>
		</div>

		<div class="clearfix"></div>
	</div>
	<div class="row">
		<table class="bordered">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Email</th>
					<th>Status</th>
					<th>Permissões</th>
					<th>Data de Criação</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var user in Model) {
				<tr class="@(!user.Active ? " danger " : " ")">
					<td>@user.Employee.Name</td>
					<td>@user.Employee.Email</td>
					<td>@(user.Active ? "Ativo" : "Inativo")</td>
					<td> Permissões </td>
					<td>@user.CreatedOn.ToString("dd/MM/yyyy")</td>
				</tr>
				}
			</tbody>
		</table>
		<div class="col-md-offset-5">
			<pager />
		</div>
	</div>
</div>