@using Domain.Entities 
@model IEnumerable<User>
@{ ViewBag.Title = "Usuarios do Sistema"; }

<div class="container">
	<div class="row">
		<h5>
			Usuários
		</h5>
		<a class="waves-effect waves-light btn" asp-controller="Users" asp-action="Create">
			<i class="fa fa-plus" aria-hidden="true">
				Novo Usuário
			</i>
		</a>
	</div>

	<div class="row">
		<table class="bordered">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Email</th>
					<th>Status</th>
					<th>Permissões</th>
					<th>Data de Criação</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var user in Model) {
				<tr class="@(!user.Active ? " danger " : " ")">
					<td>@user.Employee.Name</td>
					<td>@user.Employee.Email</td>
					<td>@(user.Active ? "Ativo" : "Inativo")</td>
					<td> Permissões </td>
					<td>@user.CreatedOn.ToString("dd/MM/yyyy")</td>
				</tr>
				}
			</tbody>
		</table>
		<div class="center-align">
			<pager />
		</div>
	</div>
</div>