@using Presentation.ViewModels.Home 
@model DashboardModel

<div class="page-title">
	<div class="title_left">
		<h3>
			<Painel></Painel>
		</h3>
	</div>
</div>

<div class="row">

	<div class="col s12 m6">
		<div class="card red lighten-1">
			<div class="card-content white-text">
				<span class="card-title"><i class="fa fa-clock-o"></i> @Model.LateLoansCount Empréstimos vencidos</span>
				<p>Atualmente o sistema registra @Model.LateLoansCount empréstimos vencidos,
				favor contatar os respectivos funcionários e receber a devolução dos equipamentos.</p>
			</div>
			<div class="card-action">
				<a href="/Loans/Index">Ver mais</a>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card blue lighten-1">
			<div class="card-content white-text">
				<span class="card-title"><i class="fa fa-comments-o"></i> @Model.NotLateLoansCount Empréstimos não vencidos</span>
				<p>Até aqui tudo bem, o sistema registra @Model.NotLateLoansCount empréstimos que estão com o prazo de vencimento em dia.</p>
			</div>
			<div class="card-action">
				<a href="/Loans/Index">Ver mais</a>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card green lighten-1">
			<div class="card-content white-text">
				<span class="card-title"><i class="fa fa-sort-amount-desc"></i> @Model.AvailableItensCount Ativos disponíveis</span>
				<p>Que bom! o sistema registra que ainda temos @Model.AvailableItensCount ativos disponíveis para empréstimo em nosso estoque.</p>
			</div>
			<div class="card-action">
				<a href="/Itens/Index">Ver mais</a>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card yellow darken-1">
			<div class="card-content white-text">
				<span class="card-title"><i class="fa fa-check-square-o"></i> @Model.AvaliableForDonationItensCount Ativos disponíveis para doação</span>
				<p>Olha, temos @Model.AvaliableForDonationItensCount ativos que estão disponíveis para doação, 
					favor providenciar uma ação e encaminhar os mesmos para uma entidade apropriada.</p>
			</div>
			<div class="card-action">
				<a href="/Itens/Index">Ver mais</a>
			</div>
		</div>
	</div>
</div>