@using Domain.Entities 
@model IEnumerable<Domain.Entities.Loan>
@{ ViewBag.Title = "Empréstimos"; }

<div class="container">
	<div class="row">
		<h5>
			Empréstimos
		</h5>
		<a class="waves-effect waves-light btn" asp-controller="Loans" asp-action="Create">
			<i class="fa fa-plus" aria-hidden="true">
				Novo Empréstimo
			</i>
		</a>
	</div>

	<div class="row">
		<table class="bordered">
			<thead>
				<tr>
					<th>Funcionário</th>
					<th>Produto</th>
					<th>Patrimônio</th>
					<th>Data de Início</th>
					<th>Data Fim</th>
					<th>Data de Criação</th>
					<th>Data de Modificação</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var loan in Model) {
				<tr>
					<td>@loan.Employee.Name</td>
					<td>@loan.Item.Product.Name</td>
					<td>@loan.Item.Patrimonio</td>

					<td>@loan.StartDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
					<td>@loan.EndDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
					<td>@loan.CreatedOn.ToString("dd/MM/yyyy HH:mm:ss")</td>
					<td>@loan.ModifiedOn.ToString("dd/MM/yyyy HH:mm:ss")</td>
					<td>
						<i class="fa fa-info" aria-hidden="true">
							<a asp-controller="Loan" asp-action="Details" asp-route-id="@loan.Id">Detalhes</a>
						</i>
					</td>
				</tr>
				}
			</tbody>
		</table>
		<div class="center-align">
			<pager />
		</div>
	</div>
</div>